In [2]:
import pandas as pd
df = pd.read_csv('merged_DateFrames.csv',index_col=None,low_memory=False)

In [3]:
# Convert 'NoticeSentBy' to datetime
df['NoticeSentBy'] = pd.to_datetime(df['NoticeSentBy'], format='%d/%m/%Y %H:%M')

# Group by 'GreyhoundName' and get the last row for each group
latest_updates = df.groupby('GreyhoundName').apply(lambda group: group.nlargest(1, 'NoticeSentBy'))

                            GreyhoundName Earmark    Reg Date  Active Colour  \
GreyhoundName
A BAD WINTER     309400      A BAD WINTER   VLILX         NaN   False     bk
A DANGEROUS MAN  939378   A DANGEROUS MAN   YHTIL  30/01/2022    True     bk
A FAMILY THING   476712    A FAMILY THING   XPINV         NaN    True    bew
A FORGOTTEN MAN  704884   A FORGOTTEN MAN   UPUVT         NaN   False    bkw
A LIKEABLE ROGUE 473798  A LIKEABLE ROGUE   VDQQV         NaN    True     bk
...                                   ...     ...         ...     ...    ...
ZOU              904188               ZOU   XVZEU         NaN   False     bk
ZUCHERO          522493           ZUCHERO   TYSQL         NaN   False      f
ZUNI             514761              ZUNI   TXHZN         NaN    True     bk
ZURISAS          886131           ZURISAS   XXQEY         NaN    True     bk
ZUZUS PETALS     434375      ZUZUS PETALS   VSTTA         NaN   False     bk

                        Sex  Whelp Date Retirement Type        Status Meaning  \
GreyhoundName
A BAD WINTER     309400   D  11/06/2020             NEW  Transfer is complete
A DANGEROUS MAN  939378   D  30/01/2022             RAC     Still at premises
A FAMILY THING   476712   B  06/12/2021             RAC  Transfer is complete
A FORGOTTEN MAN  704884   D  11/03/2019             EUT     Died/Put To Sleep
A LIKEABLE ROGUE 473798   D  25/03/2020             RAC     Still at premises
...                      ..         ...             ...                   ...
ZOU              904188   B  24/10/2021             DIE     Died/Put To Sleep
ZUCHERO          522493   D  10/09/2018             RET   Licence Unsuspended
ZUNI             514761   B  15/08/2018             RAC     Still at premises
ZURISAS          886131   B  18/10/2021             RAC     Still at premises
ZUZUS PETALS     434375   B  10/08/2020             NEW  Transfer is complete

                               NoticeSentBy
GreyhoundName
A BAD WINTER     309400 2022-02-28 06:30:00
A DANGEROUS MAN  939378 2022-06-09 07:33:00
A FAMILY THING   476712 2022-04-28 06:14:00
A FORGOTTEN MAN  704884 2022-09-17 07:33:00
A LIKEABLE ROGUE 473798 2022-08-27 07:32:00
...                                     ...
ZOU              904188 2022-08-10 07:34:00
ZUCHERO          522493 2022-09-13 07:33:00
ZUNI             514761 2022-09-13 07:33:00
ZURISAS          886131 2022-03-19 06:03:00
ZUZUS PETALS     434375 2022-05-25 07:34:00

[26514 rows x 10 columns]

In [4]:
latest_updates

,,GreyhoundName,Earmark,Reg Date,Active,Colour,Sex,Whelp Date,Retirement Type,Status Meaning,NoticeSentBy
GreyhoundName,,,,,,,,,,,
A BAD WINTER,309400,A BAD WINTER,VLILX,NaN,False,bk,D,11/06/2020,NEW,Transfer is complete,2022-02-28 06:30:00
A DANGEROUS MAN,939378,A DANGEROUS MAN,YHTIL,30/01/2022,True,bk,D,30/01/2022,RAC,Still at premises,2022-06-09 07:33:00
A FAMILY THING,476712,A FAMILY THING,XPINV,NaN,True,bew,B,06/12/2021,RAC,Transfer is complete,2022-04-28 06:14:00
A FORGOTTEN MAN,704884,A FORGOTTEN MAN,UPUVT,NaN,False,bkw,D,11/03/2019,EUT,Died/Put To Sleep,2022-09-17 07:33:00
A LIKEABLE ROGUE,473798,A LIKEABLE ROGUE,VDQQV,NaN,True,bk,D,25/03/2020,RAC,Still at premises,2022-08-27 07:32:00
...,...,...,...,...,...,...,...,...,...,...,...
ZOU,904188,ZOU,XVZEU,NaN,False,bk,B,24/10/2021,DIE,Died/Put To Sleep,2022-08-10 07:34:00
ZUCHERO,522493,ZUCHERO,TYSQL,NaN,False,f,D,10/09/2018,RET,Licence Unsuspended,2022-09-13 07:33:00
ZUNI,514761,ZUNI,TXHZN,NaN,True,bk,B,15/08/2018,RAC,Still at premises,2022-09-13 07:33:00
ZURISAS,886131,ZURISAS,XXQEY,NaN,True,bk,B,18/10/2021,RAC,Still at premises,2022-03-19 06:03:00
ZUZUS PETALS,434375,ZUZUS PETALS,VSTTA,NaN,False,bk,B,10/08/2020,NEW,Transfer is complete,2022-05-25 07:34:00

In [7]:
filtered_data = latest_updates[latest_updates['Retirement Type'] != 'RAC']

In [10]:
filtered_data = filtered_data[filtered_data['Retirement Type'] != 'NEW']

In [11]:
filtered_data

,,GreyhoundName,Earmark,Reg Date,Active,Colour,Sex,Whelp Date,Retirement Type,Status Meaning,NoticeSentBy
GreyhoundName,,,,,,,,,,,
A FORGOTTEN MAN,704884,A FORGOTTEN MAN,UPUVT,NaN,False,bkw,D,11/03/2019,EUT,Died/Put To Sleep,2022-09-17 07:33:00
AARONS SENSATION,62403,AARONS SENSATION,TQPMI,NaN,False,bkw,B,04/10/2017,RET,Still at premises,2022-09-10 07:34:00
ABBEY JET,9108,ABBEY JET,TYEKV,07/02/2019,False,dkbd,B,26/09/2018,EUT,Died/Put To Sleep,2021-12-16 06:02:00
ABBEY LIMITED,232357,ABBEY LIMITED,UNLHX,NaN,False,bk,D,19/07/2019,DIE,Died/Put To Sleep,2022-08-04 07:35:00
ABBEYSIDE BECCA,368266,ABBEYSIDE BECCA,TBQXB,NaN,False,bk,B,05/07/2018,DIE,Died/Put To Sleep,2022-06-26 07:33:00
...,...,...,...,...,...,...,...,...,...,...,...
ZOO STATION,229971,ZOO STATION,VSRBY,NaN,False,bk,B,02/10/2020,DIE,Died/Put To Sleep,2022-04-20 13:43:00
ZOOMEY FATCAT,25974,ZOOMEY FATCAT,VLYNS,26/05/2020,False,bk,D,11/01/2020,DIE,Died/Put To Sleep,2021-09-11 06:02:00
ZOOMEY HEATHER,455597,ZOOMEY HEATHER,TLJAS,NaN,False,bk,B,11/07/2018,DIE,Died/Put To Sleep,2022-09-08 07:33:00
ZOU,904188,ZOU,XVZEU,NaN,False,bk,B,24/10/2021,DIE,Died/Put To Sleep,2022-08-10 07:34:00
ZUCHERO,522493,ZUCHERO,TYSQL,NaN,False,f,D,10/09/2018,RET,Licence Unsuspended,2022-09-13 07:33:00

In [12]:
filtered_data.to_csv('filtered_dataDeath.csv',encoding='utf-8')

In [15]:
filtered_data=filtered_data.drop(columns='GreyhoundName')

In [16]:
filtered_data =filtered_data.drop(columns='Reg Date')

In [17]:
filtered_data

,,Earmark,Active,Colour,Sex,Whelp Date,Retirement Type,Status Meaning,NoticeSentBy
GreyhoundName,,,,,,,,,
A FORGOTTEN MAN,704884,UPUVT,False,bkw,D,11/03/2019,EUT,Died/Put To Sleep,2022-09-17 07:33:00
AARONS SENSATION,62403,TQPMI,False,bkw,B,04/10/2017,RET,Still at premises,2022-09-10 07:34:00
ABBEY JET,9108,TYEKV,False,dkbd,B,26/09/2018,EUT,Died/Put To Sleep,2021-12-16 06:02:00
ABBEY LIMITED,232357,UNLHX,False,bk,D,19/07/2019,DIE,Died/Put To Sleep,2022-08-04 07:35:00
ABBEYSIDE BECCA,368266,TBQXB,False,bk,B,05/07/2018,DIE,Died/Put To Sleep,2022-06-26 07:33:00
...,...,...,...,...,...,...,...,...,...
ZOO STATION,229971,VSRBY,False,bk,B,02/10/2020,DIE,Died/Put To Sleep,2022-04-20 13:43:00
ZOOMEY FATCAT,25974,VLYNS,False,bk,D,11/01/2020,DIE,Died/Put To Sleep,2021-09-11 06:02:00
ZOOMEY HEATHER,455597,TLJAS,False,bk,B,11/07/2018,DIE,Died/Put To Sleep,2022-09-08 07:33:00
ZOU,904188,XVZEU,False,bk,B,24/10/2021,DIE,Died/Put To Sleep,2022-08-10 07:34:00
ZUCHERO,522493,TYSQL,False,f,D,10/09/2018,RET,Licence Unsuspended,2022-09-13 07:33:00