In [2]:
import pandas as pd
import warnings 
warnings.simplefilter(action='ignore', category=FutureWarning)
import pandas as pd
from statsmodels.tsa.arima.model import ARIMA
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('output.csv', low_memory=False)

In [4]:
df

,Greyhound Name,Earmark,Microchip,Reg Date,Sex,Whelp Date,Retirement Type,OccuredAt,Status
0,COOLEMORE COUNT,YVRYL,9.772000e+14,12/02/2022,B,12/02/2022,EUT,07/12/2023 14:41,EUT
1,SPOOK MAGOO,UNBET,9.722740e+14,10/10/2018,D,21/04/2019,EUT,07/12/2023 12:24,EUT
2,PECKIES DAFFY,VYRAJ,9.722740e+14,07/05/2021,B,26/03/2020,EUT,07/12/2023 11:34,EUT
3,SPOOK MAGOO,UNBET,9.722740e+14,10/10/2018,D,21/04/2019,RET,07/12/2023 11:24,RAC
4,SHELONE KING,UUKTL,9.722740e+14,15/04/2019,D,15/04/2019,EUT,07/12/2023 10:25,EUT
...,...,...,...,...,...,...,...,...,...
233750,KNOCKGLASS KING,VPISU,9.772000e+14,01/04/2021,D,18/03/2020,EUT,NaN,EUT
233751,HELLO HOLLIE,TDVXR,9.722740e+14,23/04/2021,B,04/08/2018,EUT,NaN,EUT
233752,SEOMRA DISC,UYIKE,9.722740e+14,04/05/2021,D,12/12/2019,EUT,NaN,EUT
233753,KILWEST NOAH,VVTMH,9.772000e+14,24/11/2021,D,20/09/2020,EUT,NaN,EUT
233754,CHEEKY CHAR,ZYH2,NaN,18/01/2022,D,18/08/2020,EUT,NaN,EUT

In [5]:
df = df.dropna(subset=["OccuredAt"])

In [6]:
df

,Greyhound Name,Earmark,Microchip,Reg Date,Sex,Whelp Date,Retirement Type,OccuredAt,Status
0,COOLEMORE COUNT,YVRYL,9.772000e+14,12/02/2022,B,12/02/2022,EUT,07/12/2023 14:41,EUT
1,SPOOK MAGOO,UNBET,9.722740e+14,10/10/2018,D,21/04/2019,EUT,07/12/2023 12:24,EUT
2,PECKIES DAFFY,VYRAJ,9.722740e+14,07/05/2021,B,26/03/2020,EUT,07/12/2023 11:34,EUT
3,SPOOK MAGOO,UNBET,9.722740e+14,10/10/2018,D,21/04/2019,RET,07/12/2023 11:24,RAC
4,SHELONE KING,UUKTL,9.722740e+14,15/04/2019,D,15/04/2019,EUT,07/12/2023 10:25,EUT
...,...,...,...,...,...,...,...,...,...
229956,KIWI SANDY,UTRBS,9.722740e+14,12/09/2019,B,26/10/2019,EUT,10/01/2021 06:01,EUT
229957,COUGARS HERO,USQIE,9.722740e+14,18/02/2020,D,01/10/2019,EUT,10/01/2021 06:01,EUT
229958,CLASSIC SYLVIA,UBDZZ,9.722740e+14,15/04/2021,B,03/10/2019,DIE,10/01/2021 06:01,REG
229959,VIEW HERMOINE,UPVXM,9.722740e+14,04/10/2019,B,12/06/2019,EUT,10/01/2021 06:01,EUT
229960,DARBYS STORM,THSYE,9.722740e+14,17/10/2018,D,14/07/2018,EUT,10/01/2021 06:01,EUT

In [7]:
# Convert date columns to datetime format
df["Whelp Date"] = pd.to_datetime(df["Whelp Date"])
df["OccuredAt"] = pd.to_datetime(df["OccuredAt"])

C:\Users\danma\AppData\Local\Temp\ipykernel_2128\371761573.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df["Whelp Date"] = pd.to_datetime(df["Whelp Date"])
C:\Users\danma\AppData\Local\Temp\ipykernel_2128\371761573.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Whelp Date"] = pd.to_datetime(df["Whelp Date"])
C:\Users\danma\AppData\Local\Temp\ipykernel_2128\371761573.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["OccuredAt"] = pd.to_datetime(df["OccuredAt"])

In [14]:
len(df)

229961

In [10]:
# Calculate Career Length
df["Career Length"] = (df["OccuredAt"] - df["Whelp Date"]).dt.days

C:\Users\danma\AppData\Local\Temp\ipykernel_2128\318356408.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Career Length"] = (df["OccuredAt"] - df["Whelp Date"]).dt.days

In [11]:
# Calculate Career Length and aggregate for duplicate dates
career_lengths = df.groupby("OccuredAt")["Career Length"].mean()

In [16]:
(df['Career Length'].mean())/365

2.029058437060046

In [79]:
# Handle missing values by filling with appropriate values (e.g., mean)
career_lengths_filled = career_lengths.fillna(career_lengths.mean())

# Create a regular time index and fill in the data

In [1]:
career_lengths_filled

NameError: name 'career_lengths_filled' is not defined

In [80]:
# Create a regular time index and fill in the data
date_range = pd.date_range(start=career_lengths.index.min(), end=career_lengths.index.max(), freq="D")
time_series_data = pd.Series(index=date_range)
time_series_data.update(career_lengths_filled)

In [81]:
# Split the time series into training and testing sets
train_size = int(0.7 * len(time_series_data))
train_data, test_data = time_series_data[:train_size], time_series_data[train_size:]

In [82]:
train_data

2021-07-27 12:28:00    2135.0
2021-07-28 12:28:00       NaN
2021-07-29 12:28:00       NaN
2021-07-30 12:28:00       NaN
2021-07-31 12:28:00       NaN
                        ...
2022-12-10 12:28:00       NaN
2022-12-11 12:28:00       NaN
2022-12-12 12:28:00       NaN
2022-12-13 12:28:00       NaN
2022-12-14 12:28:00       NaN
Freq: D, Length: 506, dtype: float64

In [64]:
# Train an ARIMA model
order = (1, 1, 1)  # (p, d, q) order of the ARIMA model
model = ARIMA(train_data, order=order)
model_fit = model.fit()

C:\Users\danma\anaconda3\Lib\site-packages\statsmodels\tsa\statespace\sarimax.py:866: UserWarning: Too few observations to estimate starting parameters for ARMA and trend. All parameters except for variances will be set to zeros.
  warn('Too few observations to estimate starting parameters%s.'

In [65]:
# Make predictions on the test set
predictions = model_fit.predict(start=len(train_data), end=len(train_data) + len(test_data) - 1, typ='levels')

# Evaluate the model

In [68]:
test_data

2022-12-15 12:28:00      NaN
2022-12-16 12:28:00    953.0
2022-12-17 12:28:00      NaN
2022-12-18 12:28:00      NaN
2022-12-19 12:28:00      NaN
                       ...
2023-07-16 12:28:00      NaN
2023-07-17 12:28:00      NaN
2023-07-18 12:28:00      NaN
2023-07-19 12:28:00      NaN
2023-07-20 12:28:00      NaN
Freq: D, Length: 218, dtype: float64

In [67]:
# Evaluate the model
mse = mean_squared_error(test_data, predictions)
print("Mean Squared Error:", mse)

ValueError: Input contains NaN.