In [16]:
import pandas as pd
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense

In [17]:
df = pd.read_csv('output.csv', low_memory=False)

In [18]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense

# Load your dataset here (replace this with your data loading code)
# df = pd.read_csv('your_dataset.csv')

# Define features (X) and target variable (y)
X = df.drop(["Status"], axis=1)
y = df["Status"]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Build the neural network
model = Sequential()
model.add(Dense(128, input_dim=X_train.shape[1], activation='relu'))
model.add(Dense(64, activation='relu'))
model.add(Dense(1, activation='sigmoid'))  # Sigmoid for binary classification

# Compile the model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# Train the model
model.fit(X_train, y_train, epochs=10, batch_size=32, validation_data=(X_test, y_test))

# Evaluate the model
loss, accuracy = model.evaluate(X_test, y_test)
print("Test Loss:", loss)
print("Test Accuracy:", accuracy)

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type float).

In [3]:
# Drop rows with NaN values
df = df.dropna()

In [4]:
# Convert date columns to datetime format
df["Whelp Date"] = pd.to_datetime(df["Whelp Date"])
df["OccuredAt"] = pd.to_datetime(df["OccuredAt"])
df["Reg Date"] = pd.to_datetime(df["Reg Date"])

C:\Users\danma\AppData\Local\Temp\ipykernel_13640\371761573.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df["Whelp Date"] = pd.to_datetime(df["Whelp Date"])

In [5]:
df = pd.get_dummies(df, columns=["Sex", "Retirement Type"], drop_first=True)

In [7]:
df.isna().sum()

Greyhound Name         0
Earmark                0
Microchip              0
Reg Date               0
Whelp Date             0
OccuredAt              0
Status                 0
Sex_D                  0
Retirement Type_EUT    0
Retirement Type_NEW    0
Retirement Type_RET    0
dtype: int64

In [8]:
# Create features and target variables
X = df.drop(["Status"], axis=1)  # Features
y = df["Status"]  # Target

In [15]:
X

,Greyhound Name,Earmark,Microchip,Reg Date,Whelp Date,OccuredAt,Sex_D,Retirement Type_EUT,Retirement Type_NEW,Retirement Type_RET
0,COOLEMORE COUNT,YVRYL,9.772000e+14,12/02/2022,2022-12-02,2023-07-12 14:41:00,0,1,0,0
1,SPOOK MAGOO,UNBET,9.722740e+14,10/10/2018,2019-04-21,2023-07-12 12:24:00,1,1,0,0
2,PECKIES DAFFY,VYRAJ,9.722740e+14,07/05/2021,2020-03-26,2023-07-12 11:34:00,0,1,0,0
3,SPOOK MAGOO,UNBET,9.722740e+14,10/10/2018,2019-04-21,2023-07-12 11:24:00,1,0,0,1
4,SHELONE KING,UUKTL,9.722740e+14,15/04/2019,2019-04-15,2023-07-12 10:25:00,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...
229956,KIWI SANDY,UTRBS,9.722740e+14,12/09/2019,2019-10-26,2021-10-01 06:01:00,0,1,0,0
229957,COUGARS HERO,USQIE,9.722740e+14,18/02/2020,2019-01-10,2021-10-01 06:01:00,1,1,0,0
229958,CLASSIC SYLVIA,UBDZZ,9.722740e+14,15/04/2021,2019-03-10,2021-10-01 06:01:00,0,0,0,0
229959,VIEW HERMOINE,UPVXM,9.722740e+14,04/10/2019,2019-12-06,2021-10-01 06:01:00,0,1,0,0
229960,DARBYS STORM,THSYE,9.722740e+14,17/10/2018,2018-07-14,2021-10-01 06:01:00,1,1,0,0

In [11]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
# Build the neural network
model = Sequential()
model.add(Dense(128, input_dim=X_train.shape[1], activation='relu'))
model.add(Dense(64, activation='relu'))
model.add(Dense(1, activation='sigmoid'))  # Sigmoid for binary classification

In [13]:
# Compile the model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [14]:
# Train the model
model.fit(X_train, y_train, epochs=10, batch_size=32, validation_data=(X_test, y_test))

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type float).