In [104]:
import pandas as pd

In [105]:
df = pd.read_csv('AllGreyhounds.csv')

In [106]:
dfc = pd.read_csv('AllComplaintGreyhound.csv',low_memory=False)

In [107]:
# Perform inner join on "Earmark" column
merged_df = df.merge(dfc, on="Earmark", how="inner")

In [108]:
merged_df.isna().sum()

Greyhound Name              24417
Earmark                         0
Reg Date                        0
Active?                         0
Colour_x                      592
Sex_x                           0
Whelp Date                    473
Retirement Type            446180
Retirement Created At      446180
Ret Description            519642
Status Created At           52286
Status Meaning              52286
ICC VolReg                  77580
Microchip_x                 54570
GreyhoundEntry                  0
Name                       207343
Microchip_y                   641
RmsGreyhoundGuid           215040
IccVolumeRegNo             205787
Sex_y                           0
Colour_y                      695
OwnrName                      476
OwnrRmsPersonOrgGuid        22335
OwnrIccNumber               20774
Ownr2Name                  846510
Ownr2RmsPersonOrgGuid      846757
Ownr2IccNumber             846687
TrainerName                606924
TrainerRmsPersonOrgGuid    642824
TrainerICCNumber           788994
BrdrName                   951681
BrdrRmsPersonOrgGuid       951681
BrdrICCNumber              951681
ReminderDate1                   3
ReminderDate2                   3
ReminderDate3                   3
OccuredAt                     262
NoticeSentBy                    0
NoticeSentAt                  257
dtype: int64

In [109]:
cols = ['ReminderDate1', 'ReminderDate2', 'ReminderDate3','BrdrICCNumber','BrdrRmsPersonOrgGuid',
       'BrdrName','TrainerICCNumber','TrainerRmsPersonOrgGuid','TrainerName','Ownr2IccNumber','Ownr2RmsPersonOrgGuid',
        'Ownr2Name','OwnrIccNumber','OwnrRmsPersonOrgGuid','OwnrName','Colour_y','Sex_y','IccVolumeRegNo','RmsGreyhoundGuid',
        'Microchip_y','GreyhoundEntry','Microchip_x','ICC VolReg','NoticeSentBy']
df = merged_df.drop(cols, axis=1)

In [110]:
df.isna().sum()

Greyhound Name            24417
Earmark                       0
Reg Date                      0
Active?                       0
Colour_x                    592
Sex_x                         0
Whelp Date                  473
Retirement Type          446180
Retirement Created At    446180
Ret Description          519642
Status Created At         52286
Status Meaning            52286
Name                     207343
OccuredAt                   262
NoticeSentAt                257
dtype: int64

In [111]:
df.rename(columns = {'Active?':'Active'}, inplace = True)

In [112]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsClassifier

In [113]:
# Convert categorical columns to numerical representation using LabelEncoder
label_encoder = LabelEncoder()
df["Colour_x"] = label_encoder.fit_transform(df["Colour_x"])
df["Sex_x"] = label_encoder.fit_transform(df["Sex_x"])

# Split the data into training and testing sets
train_df = df.dropna(subset=["Retirement Type"]).copy()
test_df = df[df["Retirement Type"].isnull()].copy()

# Define the features and target
features = ["Active", "Colour_x", "Sex_x"]
target = "Retirement Type"

# Create and fit the KNN model
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(train_df[features], train_df[target])

# Predict the missing values for "Retirement Type" in test_df
test_df[target] = knn.predict(test_df[features])

In [114]:
# Update the original DataFrame with the predicted values
df.update(test_df)

In [115]:
df.isna().sum()

Greyhound Name            24417
Earmark                       0
Reg Date                      0
Active                        0
Colour_x                      0
Sex_x                         0
Whelp Date                  473
Retirement Type               0
Retirement Created At    446180
Ret Description          519642
Status Created At         52286
Status Meaning            52286
Name                     207343
OccuredAt                   262
NoticeSentAt                257
dtype: int64

In [116]:
df

,Greyhound Name,Earmark,Reg Date,Active,Colour_x,Sex_x,Whelp Date,Retirement Type,Retirement Created At,Ret Description,Status Created At,Status Meaning,Name,OccuredAt,NoticeSentAt
0,ANNAS LUCKY GIRL,QDBAJ,2015-09-29,True,0.0,0.0,2015-04-05,RET,NaN,NaN,2021-01-09 08:47:41.636,Licence Unsuspended,ANNAS LUCKY GIRL,30:00.0,Feb 28 2022 6:30AM
1,NELLIES BOSS,QPRPR,2016-01-25,True,9.0,1.0,2015-03-17,RET,NaN,NaN,2021-07-29 05:06:15.017,Transfer is complete,NELLIES BOSS,30:00.0,Feb 15 2022 6:03AM
2,NELLIES BOSS,QPRPR,2016-01-25,True,9.0,1.0,2015-03-17,RET,NaN,NaN,2021-07-29 05:06:15.017,Transfer is complete,NELLIES BOSS,02:00.0,Feb 16 2022 6:04AM
3,NELLIES BOSS,QPRPR,2016-01-25,True,9.0,1.0,2015-03-17,RET,NaN,NaN,2021-07-29 05:06:15.017,Transfer is complete,NELLIES BOSS,03:00.0,Feb 17 2022 6:03AM
4,NELLIES BOSS,QPRPR,2016-01-25,True,9.0,1.0,2015-03-17,RET,NaN,NaN,2021-07-29 05:06:15.017,Transfer is complete,NELLIES BOSS,02:00.0,Feb 18 2022 6:03AM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
951677,IVY HILL MONARCH,YVUBN,2022-01-20,True,23.0,1.0,2022-01-20,NEW,NaN,NaN,2023-05-13 09:32:49.007,Still at premises,NaN,42:00.0,Sep 16 2022 7:33AM
951678,SPRINGHILL GRACE,YDPJE,2022-04-21,True,26.0,0.0,2022-04-21,RET,NaN,NaN,2023-07-05 09:45:59.197,Still at premises,NaN,32:00.0,Jul 28 2022 7:34AM
951679,SPRINGHILL GRACE,YDPJE,2022-04-21,True,26.0,0.0,2022-04-21,RET,NaN,NaN,2023-07-05 09:45:59.197,Still at premises,NaN,32:00.0,Jul 29 2022 7:32AM
951680,SPRINGHILL GRACE,YDPJE,2022-04-21,True,26.0,0.0,2022-04-21,RET,NaN,NaN,2023-07-05 09:45:59.197,Still at premises,NaN,32:00.0,Jul 29 2022 7:33AM
951681,SPRINGHILL GRACE,YDPJE,2022-04-21,True,26.0,0.0,2022-04-21,RET,NaN,NaN,2023-07-05 09:45:59.197,Still at premises,NaN,32:00.0,Jul 30 2022 7:33AM

In [117]:
df.to_csv('AllGreyhounds12.csv', sep='\t', encoding='utf-8')

In [118]:
df

,Greyhound Name,Earmark,Reg Date,Active,Colour_x,Sex_x,Whelp Date,Retirement Type,Retirement Created At,Ret Description,Status Created At,Status Meaning,Name,OccuredAt,NoticeSentAt
0,ANNAS LUCKY GIRL,QDBAJ,2015-09-29,True,0.0,0.0,2015-04-05,RET,NaN,NaN,2021-01-09 08:47:41.636,Licence Unsuspended,ANNAS LUCKY GIRL,30:00.0,Feb 28 2022 6:30AM
1,NELLIES BOSS,QPRPR,2016-01-25,True,9.0,1.0,2015-03-17,RET,NaN,NaN,2021-07-29 05:06:15.017,Transfer is complete,NELLIES BOSS,30:00.0,Feb 15 2022 6:03AM
2,NELLIES BOSS,QPRPR,2016-01-25,True,9.0,1.0,2015-03-17,RET,NaN,NaN,2021-07-29 05:06:15.017,Transfer is complete,NELLIES BOSS,02:00.0,Feb 16 2022 6:04AM
3,NELLIES BOSS,QPRPR,2016-01-25,True,9.0,1.0,2015-03-17,RET,NaN,NaN,2021-07-29 05:06:15.017,Transfer is complete,NELLIES BOSS,03:00.0,Feb 17 2022 6:03AM
4,NELLIES BOSS,QPRPR,2016-01-25,True,9.0,1.0,2015-03-17,RET,NaN,NaN,2021-07-29 05:06:15.017,Transfer is complete,NELLIES BOSS,02:00.0,Feb 18 2022 6:03AM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
951677,IVY HILL MONARCH,YVUBN,2022-01-20,True,23.0,1.0,2022-01-20,NEW,NaN,NaN,2023-05-13 09:32:49.007,Still at premises,NaN,42:00.0,Sep 16 2022 7:33AM
951678,SPRINGHILL GRACE,YDPJE,2022-04-21,True,26.0,0.0,2022-04-21,RET,NaN,NaN,2023-07-05 09:45:59.197,Still at premises,NaN,32:00.0,Jul 28 2022 7:34AM
951679,SPRINGHILL GRACE,YDPJE,2022-04-21,True,26.0,0.0,2022-04-21,RET,NaN,NaN,2023-07-05 09:45:59.197,Still at premises,NaN,32:00.0,Jul 29 2022 7:32AM
951680,SPRINGHILL GRACE,YDPJE,2022-04-21,True,26.0,0.0,2022-04-21,RET,NaN,NaN,2023-07-05 09:45:59.197,Still at premises,NaN,32:00.0,Jul 29 2022 7:33AM
951681,SPRINGHILL GRACE,YDPJE,2022-04-21,True,26.0,0.0,2022-04-21,RET,NaN,NaN,2023-07-05 09:45:59.197,Still at premises,NaN,32:00.0,Jul 30 2022 7:33AM

In [119]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.neighbors import KNeighborsClassifier

# Replace None values in "Ret Description" with an empty string
df["Ret Description"].fillna('', inplace=True)

# Check if there are any missing values in "Ret Description"
if df["Ret Description"].isnull().any():
    # Vectorize "Ret Description" using TF-IDF
    tfidf_vectorizer = TfidfVectorizer()
    tfidf_matrix = tfidf_vectorizer.fit_transform(df["Ret Description"])

    # Split the data into training and testing sets
    train_matrix = tfidf_matrix[df["Ret Description"].notnull()]
    test_matrix = tfidf_matrix[df["Ret Description"].isnull()]

    if len(train_matrix) > 0:
        # Find the k-nearest neighbors
        knn = KNeighborsClassifier(n_neighbors=3)
        knn.fit(train_matrix, df["Ret Description"].dropna())

        # Predict the missing values for "Ret Description" in test_df
        imputed_values = knn.predict(test_matrix)

        # Update the original DataFrame with the imputed values
        df.loc[df["Ret Description"].isnull(), "Ret Description"] = imputed_values

In [120]:
df

,Greyhound Name,Earmark,Reg Date,Active,Colour_x,Sex_x,Whelp Date,Retirement Type,Retirement Created At,Ret Description,Status Created At,Status Meaning,Name,OccuredAt,NoticeSentAt
0,ANNAS LUCKY GIRL,QDBAJ,2015-09-29,True,0.0,0.0,2015-04-05,RET,NaN,,2021-01-09 08:47:41.636,Licence Unsuspended,ANNAS LUCKY GIRL,30:00.0,Feb 28 2022 6:30AM
1,NELLIES BOSS,QPRPR,2016-01-25,True,9.0,1.0,2015-03-17,RET,NaN,,2021-07-29 05:06:15.017,Transfer is complete,NELLIES BOSS,30:00.0,Feb 15 2022 6:03AM
2,NELLIES BOSS,QPRPR,2016-01-25,True,9.0,1.0,2015-03-17,RET,NaN,,2021-07-29 05:06:15.017,Transfer is complete,NELLIES BOSS,02:00.0,Feb 16 2022 6:04AM
3,NELLIES BOSS,QPRPR,2016-01-25,True,9.0,1.0,2015-03-17,RET,NaN,,2021-07-29 05:06:15.017,Transfer is complete,NELLIES BOSS,03:00.0,Feb 17 2022 6:03AM
4,NELLIES BOSS,QPRPR,2016-01-25,True,9.0,1.0,2015-03-17,RET,NaN,,2021-07-29 05:06:15.017,Transfer is complete,NELLIES BOSS,02:00.0,Feb 18 2022 6:03AM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
951677,IVY HILL MONARCH,YVUBN,2022-01-20,True,23.0,1.0,2022-01-20,NEW,NaN,,2023-05-13 09:32:49.007,Still at premises,NaN,42:00.0,Sep 16 2022 7:33AM
951678,SPRINGHILL GRACE,YDPJE,2022-04-21,True,26.0,0.0,2022-04-21,RET,NaN,,2023-07-05 09:45:59.197,Still at premises,NaN,32:00.0,Jul 28 2022 7:34AM
951679,SPRINGHILL GRACE,YDPJE,2022-04-21,True,26.0,0.0,2022-04-21,RET,NaN,,2023-07-05 09:45:59.197,Still at premises,NaN,32:00.0,Jul 29 2022 7:32AM
951680,SPRINGHILL GRACE,YDPJE,2022-04-21,True,26.0,0.0,2022-04-21,RET,NaN,,2023-07-05 09:45:59.197,Still at premises,NaN,32:00.0,Jul 29 2022 7:33AM
951681,SPRINGHILL GRACE,YDPJE,2022-04-21,True,26.0,0.0,2022-04-21,RET,NaN,,2023-07-05 09:45:59.197,Still at premises,NaN,32:00.0,Jul 30 2022 7:33AM

In [121]:
df.isna().sum()

Greyhound Name            24417
Earmark                       0
Reg Date                      0
Active                        0
Colour_x                      0
Sex_x                         0
Whelp Date                  473
Retirement Type               0
Retirement Created At    446180
Ret Description               0
Status Created At         52286
Status Meaning            52286
Name                     207343
OccuredAt                   262
NoticeSentAt                257
dtype: int64

In [128]:
#import pandas as pd

# Assuming the data is already loaded into a pandas DataFrame (df)

# Convert "Whelp Date" and "Status Created At" columns to datetime objects
#df["Whelp Date"] = pd.to_datetime(df["Whelp Date"])
#df["Status Created At"] = pd.to_datetime(df["Status Created At"])

# Calculate the age of the greyhound at the time of retirement
#df['Age at Retirement'] = df.loc[(df['Retirement Type']=='RET')]
#if(['Age at Retirement'] == 'RET'):
#    df["Age at Retirement"] = (df["Status Created At"] - df["Whelp Date"]).dt.days

In [129]:
#import pandas as pd

# Assuming the data is already loaded into a pandas DataFrame (df)

# Convert "Whelp Date" and "Status Created At" columns to datetime objects
#df["Whelp Date"] = pd.to_datetime(df["Whelp Date"])
#df["Status Created At"] = pd.to_datetime(df["Status Created At"])

# Add a condition to calculate the age only when "Retirement Created At" is 'RET'
#df["Age at Retirement"] = 0  # Initialize the new column
#if df["Retirement Created At"] == 'RET':  
# Create a boolean mask
#df.loc[retirement_mask, "Age at Retirement"] = (df.loc[retirement_mask, "Status Created At"] - df.loc[retirement_mask, "Whelp Date"]).dt.days
#    df["Age at Retirement"] = (df["Status Created At"] - df["Whelp Date"]).dt.days

In [131]:
# Assuming the data is already loaded into a pandas DataFrame (df)

# Convert "Whelp Date" and "Status Created At" columns to datetime objects
df["Whelp Date"] = pd.to_datetime(df["Whelp Date"])
df["Status Created At"] = pd.to_datetime(df["Status Created At"])

# Calculate the retirement age only when "Retirement Type" is 'RET'
retirement_mask = df["Retirement Type"] == 'RET'  # Create a boolean mask
df["Retirement Age"] = 0  # Initialize the new column
df.loc[retirement_mask, "Retirement Age"] = (df.loc[retirement_mask, "Status Created At"] - df.loc[retirement_mask, "Whelp Date"]).dt.days

In [132]:
df

,Greyhound Name,Earmark,Reg Date,Active,Colour_x,Sex_x,Whelp Date,Retirement Type,Retirement Created At,Ret Description,Status Created At,Status Meaning,Name,OccuredAt,NoticeSentAt,Age at Retirement,Retirement Age
0,ANNAS LUCKY GIRL,QDBAJ,2015-09-29,True,0.0,0.0,2015-04-05,RET,NaN,,2021-01-09 08:47:41.636,Licence Unsuspended,ANNAS LUCKY GIRL,30:00.0,Feb 28 2022 6:30AM,0,-2107.0
1,NELLIES BOSS,QPRPR,2016-01-25,True,9.0,1.0,2015-03-17,RET,NaN,,2021-07-29 05:06:15.017,Transfer is complete,NELLIES BOSS,30:00.0,Feb 15 2022 6:03AM,0,-2327.0
2,NELLIES BOSS,QPRPR,2016-01-25,True,9.0,1.0,2015-03-17,RET,NaN,,2021-07-29 05:06:15.017,Transfer is complete,NELLIES BOSS,02:00.0,Feb 16 2022 6:04AM,0,-2327.0
3,NELLIES BOSS,QPRPR,2016-01-25,True,9.0,1.0,2015-03-17,RET,NaN,,2021-07-29 05:06:15.017,Transfer is complete,NELLIES BOSS,03:00.0,Feb 17 2022 6:03AM,0,-2327.0
4,NELLIES BOSS,QPRPR,2016-01-25,True,9.0,1.0,2015-03-17,RET,NaN,,2021-07-29 05:06:15.017,Transfer is complete,NELLIES BOSS,02:00.0,Feb 18 2022 6:03AM,0,-2327.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
951677,IVY HILL MONARCH,YVUBN,2022-01-20,True,23.0,1.0,2022-01-20,NEW,NaN,,2023-05-13 09:32:49.007,Still at premises,NaN,42:00.0,Sep 16 2022 7:33AM,0,0.0
951678,SPRINGHILL GRACE,YDPJE,2022-04-21,True,26.0,0.0,2022-04-21,RET,NaN,,2023-07-05 09:45:59.197,Still at premises,NaN,32:00.0,Jul 28 2022 7:34AM,0,-441.0
951679,SPRINGHILL GRACE,YDPJE,2022-04-21,True,26.0,0.0,2022-04-21,RET,NaN,,2023-07-05 09:45:59.197,Still at premises,NaN,32:00.0,Jul 29 2022 7:32AM,0,-441.0
951680,SPRINGHILL GRACE,YDPJE,2022-04-21,True,26.0,0.0,2022-04-21,RET,NaN,,2023-07-05 09:45:59.197,Still at premises,NaN,32:00.0,Jul 29 2022 7:33AM,0,-441.0
951681,SPRINGHILL GRACE,YDPJE,2022-04-21,True,26.0,0.0,2022-04-21,RET,NaN,,2023-07-05 09:45:59.197,Still at premises,NaN,32:00.0,Jul 30 2022 7:33AM,0,-441.0

In [101]:
df.to_csv('AllGreyhoundsData.csv',encoding='utf-8')