In [1]:
import pandas as pd

In [2]:
dfCompliant = pd.read_csv('Data\TotalCompliant.csv', low_memory=False)

In [3]:
dfCompliant

,1016824,****DECEASED****,977200009863339,Unnamed: 3,Unnamed: 4,B,bk,XKQTL,"Byrne,Mr M",68345206-abfd-42de-bb2c-a1bb7470580a,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,0001-01-01T00:00:00,0001-01-01T00:00:00.1,0001-01-01T00:00:00.2,2022-09-03 06:32:00.000,Traceability,Sep 3 2022 7:34AM
0,1018079,****DECEASED****,977200009863339,NaN,NaN,B,bk,XKQTL,"Byrne,Mr M",68345206-abfd-42de-bb2c-a1bb7470580a,...,NaN,NaN,NaN,NaN,0001-01-01T00:00:00,0001-01-01T00:00:00,0001-01-01T00:00:00,2022-09-03 06:32:00.000,Traceability,Sep 4 2022 7:32AM
1,1056734,****DECEASED****,977200009863339,NaN,NaN,B,bk,XKQTL,"Byrne,Mr M",68345206-abfd-42de-bb2c-a1bb7470580a,...,NaN,NaN,NaN,NaN,0001-01-01T00:00:00,0001-01-01T00:00:00,0001-01-01T00:00:00,2022-09-16 06:32:00.000,Traceability,Sep 16 2022 7:33AM
2,1057598,****DECEASED****,977200009863339,NaN,NaN,B,bk,XKQTL,"Byrne,Mr M",68345206-abfd-42de-bb2c-a1bb7470580a,...,NaN,NaN,NaN,NaN,0001-01-01T00:00:00,0001-01-01T00:00:00,0001-01-01T00:00:00,2022-09-16 06:32:00.000,Traceability,Sep 17 2022 7:33AM
3,1059579,****DECEASED****,977200009863339,NaN,NaN,B,bk,XKQTL,"Byrne,Mr M",68345206-abfd-42de-bb2c-a1bb7470580a,...,NaN,NaN,NaN,NaN,0001-01-01T00:00:00,0001-01-01T00:00:00,0001-01-01T00:00:00,2022-09-16 06:32:00.000,Traceability,Sep 17 2022 7:34AM
4,1062965,****DECEASED****,977200009863339,NaN,NaN,B,bk,XKQTL,"Byrne,Mr M",68345206-abfd-42de-bb2c-a1bb7470580a,...,NaN,NaN,NaN,NaN,0001-01-01T00:00:00,0001-01-01T00:00:00,0001-01-01T00:00:00,2022-09-16 06:32:00.000,Traceability,Sep 18 2022 7:33AM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1709501,768201,ZUZUS PETALS,977200009504319,b0fc57f2-d883-4c81-b787-c0007822ead4,1009224,B,bk,VSTTA,G.B.G.B.,bee04300-f444-46b0-90b8-cc57f85ff598,...,33640,NaN,NaN,NaN,0001-01-01T00:00:00,0001-01-01T00:00:00,0001-01-01T00:00:00,2022-05-21 06:32:00.000,Traceability,May 22 2022 7:31AM
1709502,767201,ZUZUS PETALS,977200009504319,b0fc57f2-d883-4c81-b787-c0007822ead4,1009224,B,bk,VSTTA,G.B.G.B.,bee04300-f444-46b0-90b8-cc57f85ff598,...,NaN,NaN,NaN,NaN,0001-01-01T00:00:00,0001-01-01T00:00:00,0001-01-01T00:00:00,2022-05-21 06:32:00.000,Traceability,May 21 2022 7:33AM
1709503,772940,ZUZUS PETALS,977200009504319,b0fc57f2-d883-4c81-b787-c0007822ead4,1009224,B,bk,VSTTA,G.B.G.B.,bee04300-f444-46b0-90b8-cc57f85ff598,...,33640,NaN,NaN,NaN,0001-01-01T00:00:00,0001-01-01T00:00:00,0001-01-01T00:00:00,2022-05-23 09:33:00.000,Traceability,May 24 2022 7:32AM
1709504,774226,ZUZUS PETALS,977200009504319,b0fc57f2-d883-4c81-b787-c0007822ead4,1009224,B,bk,VSTTA,G.B.G.B.,bee04300-f444-46b0-90b8-cc57f85ff598,...,33640,NaN,NaN,NaN,0001-01-01T00:00:00,0001-01-01T00:00:00,0001-01-01T00:00:00,2022-05-23 09:33:00.000,Traceability,May 24 2022 7:33AM
1709505,776199,ZUZUS PETALS,977200009504319,b0fc57f2-d883-4c81-b787-c0007822ead4,1009224,B,bk,VSTTA,G.B.G.B.,bee04300-f444-46b0-90b8-cc57f85ff598,...,33640,NaN,NaN,NaN,0001-01-01T00:00:00,0001-01-01T00:00:00,0001-01-01T00:00:00,2022-05-23 09:33:00.000,Traceability,May 25 2022 7:34AM

In [4]:
dfCompliant.set_axis([['GreyhoundEntry','Name','Microchip','RmsGreyhoundGuid','IccVolumeRegNo','Sex','Colour',
                       'Earmark','OwnrName','OwnrRmsPersonOrgGuid','OwnrIccNumber','Ownr2Name',
                'Ownr2RmsPersonOrgGuid','Ownr2IccNumber','TrainerName','TrainerRmsPersonOrgGuid',
                'TrainerICCNumber','BrdrName','BrdrRmsPersonOrgGuid','BrdrICCNumber','ReminderDate1',
                'ReminderDate2','ReminderDate3','OccuredAt','NoticeSentBy','NoticeSentAt']],
                    axis=1,inplace=True)

C:\Users\danma\AppData\Local\Temp\ipykernel_6608\3828405554.py:1: FutureWarning: DataFrame.set_axis 'inplace' keyword is deprecated and will be removed in a future version. Use `obj = obj.set_axis(..., copy=False)` instead
  dfCompliant.set_axis([['GreyhoundEntry','Name','Microchip','RmsGreyhoundGuid','IccVolumeRegNo','Sex','Colour',

In [102]:
#dfCompliant.set_index('Microchip', inplace=True)

In [103]:
dfCompliant =dfCompliant.drop(['GreyhoundEntry','Name','OwnrName','OwnrRmsPersonOrgGuid','OwnrIccNumber','Ownr2Name',
                'Ownr2RmsPersonOrgGuid','Ownr2IccNumber','TrainerName','TrainerRmsPersonOrgGuid',
                'TrainerICCNumber','BrdrName','BrdrRmsPersonOrgGuid','BrdrICCNumber','ReminderDate1',
                'ReminderDate2','ReminderDate3','NoticeSentBy'],axis=1)

C:\Users\danma\AppData\Local\Temp\ipykernel_7352\1521976429.py:1: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  dfCompliant =dfCompliant.drop(['GreyhoundEntry','Name','OwnrName','OwnrRmsPersonOrgGuid','OwnrIccNumber','Ownr2Name',

In [104]:
dfCompliant=dfCompliant.drop(['IccVolumeRegNo'],axis=1)

C:\Users\danma\AppData\Local\Temp\ipykernel_7352\4265139843.py:1: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  dfCompliant=dfCompliant.drop(['IccVolumeRegNo'],axis=1)

In [105]:
dfCompliant=dfCompliant.drop(['RmsGreyhoundGuid'],axis=1)

C:\Users\danma\AppData\Local\Temp\ipykernel_7352\3385924159.py:1: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  dfCompliant=dfCompliant.drop(['RmsGreyhoundGuid'],axis=1)

In [106]:
dfCompliant=dfCompliant.drop(['Colour'],axis=1)

C:\Users\danma\AppData\Local\Temp\ipykernel_7352\2044083636.py:1: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  dfCompliant=dfCompliant.drop(['Colour'],axis=1)

In [107]:
dfCompliant=dfCompliant.drop(['Sex'],axis=1)

C:\Users\danma\AppData\Local\Temp\ipykernel_7352\4127348270.py:1: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  dfCompliant=dfCompliant.drop(['Sex'],axis=1)

In [108]:
dfCompliant=dfCompliant.drop(['NoticeSentAt'],axis=1)

C:\Users\danma\AppData\Local\Temp\ipykernel_7352\476008905.py:1: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  dfCompliant=dfCompliant.drop(['NoticeSentAt'],axis=1)

In [5]:
dfCompliant

,GreyhoundEntry,Name,Microchip,RmsGreyhoundGuid,IccVolumeRegNo,Sex,Colour,Earmark,OwnrName,OwnrRmsPersonOrgGuid,...,TrainerICCNumber,BrdrName,BrdrRmsPersonOrgGuid,BrdrICCNumber,ReminderDate1,ReminderDate2,ReminderDate3,OccuredAt,NoticeSentBy,NoticeSentAt
0,1018079,****DECEASED****,977200009863339,NaN,NaN,B,bk,XKQTL,"Byrne,Mr M",68345206-abfd-42de-bb2c-a1bb7470580a,...,NaN,NaN,NaN,NaN,0001-01-01T00:00:00,0001-01-01T00:00:00,0001-01-01T00:00:00,2022-09-03 06:32:00.000,Traceability,Sep 4 2022 7:32AM
1,1056734,****DECEASED****,977200009863339,NaN,NaN,B,bk,XKQTL,"Byrne,Mr M",68345206-abfd-42de-bb2c-a1bb7470580a,...,NaN,NaN,NaN,NaN,0001-01-01T00:00:00,0001-01-01T00:00:00,0001-01-01T00:00:00,2022-09-16 06:32:00.000,Traceability,Sep 16 2022 7:33AM
2,1057598,****DECEASED****,977200009863339,NaN,NaN,B,bk,XKQTL,"Byrne,Mr M",68345206-abfd-42de-bb2c-a1bb7470580a,...,NaN,NaN,NaN,NaN,0001-01-01T00:00:00,0001-01-01T00:00:00,0001-01-01T00:00:00,2022-09-16 06:32:00.000,Traceability,Sep 17 2022 7:33AM
3,1059579,****DECEASED****,977200009863339,NaN,NaN,B,bk,XKQTL,"Byrne,Mr M",68345206-abfd-42de-bb2c-a1bb7470580a,...,NaN,NaN,NaN,NaN,0001-01-01T00:00:00,0001-01-01T00:00:00,0001-01-01T00:00:00,2022-09-16 06:32:00.000,Traceability,Sep 17 2022 7:34AM
4,1062965,****DECEASED****,977200009863339,NaN,NaN,B,bk,XKQTL,"Byrne,Mr M",68345206-abfd-42de-bb2c-a1bb7470580a,...,NaN,NaN,NaN,NaN,0001-01-01T00:00:00,0001-01-01T00:00:00,0001-01-01T00:00:00,2022-09-16 06:32:00.000,Traceability,Sep 18 2022 7:33AM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1709501,768201,ZUZUS PETALS,977200009504319,b0fc57f2-d883-4c81-b787-c0007822ead4,1009224,B,bk,VSTTA,G.B.G.B.,bee04300-f444-46b0-90b8-cc57f85ff598,...,33640,NaN,NaN,NaN,0001-01-01T00:00:00,0001-01-01T00:00:00,0001-01-01T00:00:00,2022-05-21 06:32:00.000,Traceability,May 22 2022 7:31AM
1709502,767201,ZUZUS PETALS,977200009504319,b0fc57f2-d883-4c81-b787-c0007822ead4,1009224,B,bk,VSTTA,G.B.G.B.,bee04300-f444-46b0-90b8-cc57f85ff598,...,NaN,NaN,NaN,NaN,0001-01-01T00:00:00,0001-01-01T00:00:00,0001-01-01T00:00:00,2022-05-21 06:32:00.000,Traceability,May 21 2022 7:33AM
1709503,772940,ZUZUS PETALS,977200009504319,b0fc57f2-d883-4c81-b787-c0007822ead4,1009224,B,bk,VSTTA,G.B.G.B.,bee04300-f444-46b0-90b8-cc57f85ff598,...,33640,NaN,NaN,NaN,0001-01-01T00:00:00,0001-01-01T00:00:00,0001-01-01T00:00:00,2022-05-23 09:33:00.000,Traceability,May 24 2022 7:32AM
1709504,774226,ZUZUS PETALS,977200009504319,b0fc57f2-d883-4c81-b787-c0007822ead4,1009224,B,bk,VSTTA,G.B.G.B.,bee04300-f444-46b0-90b8-cc57f85ff598,...,33640,NaN,NaN,NaN,0001-01-01T00:00:00,0001-01-01T00:00:00,0001-01-01T00:00:00,2022-05-23 09:33:00.000,Traceability,May 24 2022 7:33AM
1709505,776199,ZUZUS PETALS,977200009504319,b0fc57f2-d883-4c81-b787-c0007822ead4,1009224,B,bk,VSTTA,G.B.G.B.,bee04300-f444-46b0-90b8-cc57f85ff598,...,33640,NaN,NaN,NaN,0001-01-01T00:00:00,0001-01-01T00:00:00,0001-01-01T00:00:00,2022-05-23 09:33:00.000,Traceability,May 25 2022 7:34AM

In [11]:
dfCompliant["OccuredAt"].dtypes

OccuredAt    object
dtype: object

In [13]:
dfCompliant["OccuredAt"] = dfCompliant["OccuredAt"].astype(datetime)

NameError: name 'datetime' is not defined

In [9]:
# Convert 'OccurredAt' column to datetime
dfCompliant["OccuredAt1"] = pd.to_datetime(dfCompliant["OccuredAt"])

AttributeError: 'tuple' object has no attribute 'lower'

In [110]:
dfCompliant.to_csv('Data/Compiant.csv',encoding='utf-8')

In [111]:
dfTraceability = pd.read_excel('Data\Tracebility.xlsx')

In [112]:
dfTraceability.to_csv('Data/Traceability.csv',encoding='utf-8')

In [113]:
dfTraceability = pd.read_csv('Data\Traceability.csv', low_memory=False)

In [116]:
dfTraceability

,Unnamed: 0,Greyhound Name,ICC VolReg,Earmark,Microchip,Reg Date,Active,Colour,Sex,Whelp Date,Retirement Type,Retirement Created At2
0,0,JEWEL MAIDEN,9411917.0,PLPIQ,9.722740e+14,2015-09-29,0.0,bk,B,2014-09-22,DIE,2022-01-18 06:02:39.499
1,1,BULLET ENDA,951205.0,QPBVB,9.810981e+14,2016-02-11,0.0,bd,B,2015-04-05,DIE,2022-06-15 19:18:25.278
2,2,FLEXIBLE PANGO,9511107.0,QRHSP,9.810981e+14,2016-09-23,0.0,bk,B,2015-09-01,DIE,2022-08-16 06:33:00.043
3,3,FLEXIBLE TANGO,9511105.0,QRLED,9.810981e+14,2016-09-23,0.0,bk,B,2015-09-01,DIE,2022-08-16 06:32:23.947
4,4,BLACK RIOGA,9512668.0,QPYAK,9.810981e+14,2016-11-02,0.0,bk,D,2015-10-26,DIE,2022-10-04 06:32:43.126
...,...,...,...,...,...,...,...,...,...,...,...,...
18404,18404,NaN,NaN,YXTMQ,9.772000e+14,2022-07-04,0.0,bk,B,2022-07-04,EUT,2023-03-13 21:42:13.866
18405,18405,SPRINGHILL RAPID,10111255.0,YDZAL,9.772000e+14,2022-05-29,0.0,bk,D,2022-05-29,EUT,2023-02-21 10:25:28.025
18406,18406,NaN,NaN,YDAHK,9.772000e+14,2022-07-26,0.0,bk,D,2022-07-26,EUT,2023-02-17 10:18:13.954
18407,18407,NaN,NaN,YDDJM,9.772000e+14,2022-07-26,0.0,bk,D,2022-07-26,EUT,2023-02-17 10:21:00.855
18408,18408,NaN,NaN,YDUZE,9.772000e+14,2022-09-02,0.0,be,D,2022-09-02,EUT,2023-07-23 10:58:42.318

In [117]:
# Convert 'OccurredAt' column to datetime
dfTraceability["Retirement Created At2"] = pd.to_datetime(dfTraceability["Retirement Created At2"])

In [119]:
dfCompliant

               Microchip Earmark                OccuredAt
0        977200009863339   XKQTL  2022-09-03 06:32:00.000
1        977200009863339   XKQTL  2022-09-16 06:32:00.000
2        977200009863339   XKQTL  2022-09-16 06:32:00.000
3        977200009863339   XKQTL  2022-09-16 06:32:00.000
4        977200009863339   XKQTL  2022-09-16 06:32:00.000
...                  ...     ...                      ...
1709501  977200009504319   VSTTA  2022-05-21 06:32:00.000
1709502  977200009504319   VSTTA  2022-05-21 06:32:00.000
1709503  977200009504319   VSTTA  2022-05-23 09:33:00.000
1709504  977200009504319   VSTTA  2022-05-23 09:33:00.000
1709505  977200009504319   VSTTA  2022-05-23 09:33:00.000

[1709506 rows x 3 columns]

In [6]:
# Convert 'OccurredAt' column to datetime
dfCompliant["OccuredAt"] = pd.to_datetime(dfCompliant["OccuredAt"])

AttributeError: 'tuple' object has no attribute 'lower'

In [34]:
df.to_csv('Combined3_DateFrames.csv',encoding='utf-8')

In [33]:
df=df.drop('Microchip,',axis=1)

KeyError: "['Microchip,'] not found in axis"

In [25]:
df

,Greyhound Name,ICC VolReg,Earmark,Microchip,Reg Date,Active,Colour,Sex,Whelp Date,Retirement Type,Retirement Created At2,"(Microchip,)","(Earmark,)","(OccuredAt,)"
0,JEWEL MAIDEN,9411917.0,PLPIQ,9.722740e+14,2015-09-29,0.0,bk,B,2014-09-22,DIE,2022-01-18 06:02:39.499,977200009863339,XKQTL,2022-09-03 06:32:00.000
1,BULLET ENDA,951205.0,QPBVB,9.810981e+14,2016-02-11,0.0,bd,B,2015-04-05,DIE,2022-06-15 19:18:25.278,977200009863339,XKQTL,2022-09-16 06:32:00.000
2,FLEXIBLE PANGO,9511107.0,QRHSP,9.810981e+14,2016-09-23,0.0,bk,B,2015-09-01,DIE,2022-08-16 06:33:00.043,977200009863339,XKQTL,2022-09-16 06:32:00.000
3,FLEXIBLE TANGO,9511105.0,QRLED,9.810981e+14,2016-09-23,0.0,bk,B,2015-09-01,DIE,2022-08-16 06:32:23.947,977200009863339,XKQTL,2022-09-16 06:32:00.000
4,BLACK RIOGA,9512668.0,QPYAK,9.810981e+14,2016-11-02,0.0,bk,D,2015-10-26,DIE,2022-10-04 06:32:43.126,977200009863339,XKQTL,2022-09-16 06:32:00.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18404,NaN,NaN,YXTMQ,9.772000e+14,2022-07-04,0.0,bk,B,2022-07-04,EUT,2023-03-13 21:42:13.866,977200009482519,VTJXI,2022-04-13 14:29:00.000
18405,SPRINGHILL RAPID,10111255.0,YDZAL,9.772000e+14,2022-05-29,0.0,bk,D,2022-05-29,EUT,2023-02-21 10:25:28.025,977200009482519,VTJXI,2022-04-13 14:29:00.000
18406,NaN,NaN,YDAHK,9.772000e+14,2022-07-26,0.0,bk,D,2022-07-26,EUT,2023-02-17 10:18:13.954,977200009482519,VTJXI,2022-04-13 14:29:00.000
18407,NaN,NaN,YDDJM,9.772000e+14,2022-07-26,0.0,bk,D,2022-07-26,EUT,2023-02-17 10:21:00.855,977200009482519,VTJXI,2022-04-13 14:29:00.000
18408,NaN,NaN,YDUZE,9.772000e+14,2022-09-02,0.0,be,D,2022-09-02,EUT,2023-07-23 10:58:42.318,977200009482519,VTJXI,2022-04-13 14:29:00.000

In [26]:
# Convert 'OccurredAt' column to datetime
df["OccurredAt"] = pd.to_datetime(df["OccurredAt"])

KeyError: 'OccurredAt'

In [73]:
df = df.sort_values(by=['Microchip','Retirement Created At2'])

In [74]:
df

,Greyhound Name,ICC VolReg,Earmark_x,Reg Date,Active,Colour,Sex,Whelp Date,Retirement Type,Retirement Created At2,Earmark_y,OccuredAt
Microchip,,,,,,,,,,,,
9.410002e+13,LADY NASH,NaN,ZNA4,2021-02-18,0.0,bk,B,2019-09-14,RET,2022-08-06 06:30:59.623,NaN,NaN
9.001330e+14,DASHGROVE LISA,NaN,AJV3,2021-05-25,0.0,bk,B,2021-05-25,DIE,2023-03-03 06:30:41.422,NaN,NaN
9.001330e+14,HOUSE ANGEL,NaN,AMR6,2022-02-05,0.0,bk,B,2022-02-05,RET,NaT,NaN,NaN
9.002000e+14,FURLOUGH BANDITO,NaN,ZPL2,2021-04-15,0.0,bd,D,2019-10-16,RET,2022-02-02 06:00:42.207,NaN,NaN
9.002000e+14,GRACIE BRAE,NaN,ZPL7,2019-10-10,0.0,bk,B,2019-10-16,DIE,2021-12-02 06:00:48.259,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaT,QNYKE,2022-04-20 14:36:00.000
NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaT,MDSYN,2022-09-05 20:53:00.000
NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaT,QBVUV,2022-09-05 20:54:00.000
NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaT,NBVUM,2022-09-05 20:53:00.000
NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaT,JBTKQ,2022-07-30 06:31:00.000

In [61]:
#df

,Earmark,OccuredAt,Greyhound Name,ICC VolReg,Reg Date,Active,Colour,Sex,Whelp Date,Retirement Type,Retirement Created At2
0,XKQTL,2022-09-03 06:32:00.000,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaT
1,XKQTL,2022-09-03 06:32:00.000,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaT
2,XKQTL,2022-09-16 06:32:00.000,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaT
3,XKQTL,2022-09-16 06:32:00.000,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaT
4,XKQTL,2022-09-16 06:32:00.000,NaN,NaN,NaT,NaN,NaN,NaN,NaT,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...
1713984,VPISU,NaN,KNOCKGLASS KING,1002537.0,2021-04-01,0.0,f,D,2020-03-18,EUT,2021-12-05 17:36:25.387
1713985,TDVXR,NaN,HELLO HOLLIE,996550.0,2021-04-23,0.0,bk,B,2018-08-04,EUT,2021-09-03 18:41:16.575
1713986,UYIKE,NaN,SEOMRA DISC,1002328.0,2021-05-04,0.0,be,D,2019-12-12,EUT,2021-05-21 11:23:30.857
1713987,VVTMH,NaN,KILWEST NOAH,1001431.0,2021-11-24,0.0,bk,D,2020-09-20,EUT,2021-12-23 08:35:47.756
1713988,ZYH2,NaN,CHEEKY CHAR,NaN,2022-01-18,0.0,bk,D,2020-08-18,EUT,2022-01-26 14:20:51.341

In [132]:
result_df.to_csv('Combined1_DateFrames.csv',encoding='utf-8')

In [135]:
df1 = pd.read_csv('Combined1_DateFrames.csv')

In [136]:
df1

,Greyhound Name,Earmark,Microchip,Reg Date,Sex,Whelp Date,Retirement Type,OccuredAt
0,JEWEL MAIDEN,PLPIQ,9.722740e+14,29/09/2015,B,22/09/2014,DIE,21/10/2021 11:11
1,JEWEL MAIDEN,PLPIQ,9.722740e+14,29/09/2015,B,22/09/2014,DIE,21/10/2021 11:12
2,JEWEL MAIDEN,PLPIQ,9.722740e+14,29/09/2015,B,22/09/2014,DIE,21/10/2021 11:14
3,JEWEL MAIDEN,PLPIQ,9.722740e+14,29/09/2015,B,22/09/2014,DIE,21/10/2021 11:16
4,JEWEL MAIDEN,PLPIQ,9.722740e+14,29/09/2015,B,22/09/2014,DIE,21/10/2021 13:08
...,...,...,...,...,...,...,...,...
234542,NaN,YDUZE,9.770000e+14,02/09/2022,D,02/09/2022,EUT,23/12/2022 06:33
234543,NaN,YDUZE,9.770000e+14,02/09/2022,D,02/09/2022,EUT,08/01/2023 14:42
234544,NaN,YDUZE,9.770000e+14,02/09/2022,D,02/09/2022,EUT,21/02/2023 09:58
234545,NaN,YDUZE,9.770000e+14,02/09/2022,D,02/09/2022,EUT,20/05/2023 09:49
234546,NaN,YDUZE,9.770000e+14,02/09/2022,D,02/09/2022,EUT,20/05/2023 10:49

In [139]:
# Group by 'Earmark' and find the first and last dates in each group
grouped = df1.groupby("Earmark")["OccuredAt"].agg(["first", "last"])

In [142]:

# Initialize a new column 'Status' with 'RAC'
df1["Status"] = "RAC"

In [143]:
df1

,Greyhound Name,Earmark,Microchip,Reg Date,Sex,Whelp Date,Retirement Type,OccuredAt,Status
0,JEWEL MAIDEN,PLPIQ,9.722740e+14,29/09/2015,B,22/09/2014,DIE,21/10/2021 11:11,RAC
1,JEWEL MAIDEN,PLPIQ,9.722740e+14,29/09/2015,B,22/09/2014,DIE,21/10/2021 11:12,RAC
2,JEWEL MAIDEN,PLPIQ,9.722740e+14,29/09/2015,B,22/09/2014,DIE,21/10/2021 11:14,RAC
3,JEWEL MAIDEN,PLPIQ,9.722740e+14,29/09/2015,B,22/09/2014,DIE,21/10/2021 11:16,RAC
4,JEWEL MAIDEN,PLPIQ,9.722740e+14,29/09/2015,B,22/09/2014,DIE,21/10/2021 13:08,RAC
...,...,...,...,...,...,...,...,...,...
234542,NaN,YDUZE,9.770000e+14,02/09/2022,D,02/09/2022,EUT,23/12/2022 06:33,RAC
234543,NaN,YDUZE,9.770000e+14,02/09/2022,D,02/09/2022,EUT,08/01/2023 14:42,RAC
234544,NaN,YDUZE,9.770000e+14,02/09/2022,D,02/09/2022,EUT,21/02/2023 09:58,RAC
234545,NaN,YDUZE,9.770000e+14,02/09/2022,D,02/09/2022,EUT,20/05/2023 09:49,RAC
234546,NaN,YDUZE,9.770000e+14,02/09/2022,D,02/09/2022,EUT,20/05/2023 10:49,RAC

In [149]:
# Update the 'Status' column for the first and last rows in each group
for index, row in grouped.iterrows():
    #df1.loc[(df1["Earmark"] == index) & (df1["OccuredAt"] == row["first"]), "Status"] = "REG"
    df1.loc[(df1["Earmark"] == index) & (df1["OccuredAt"] == row["last"]), "Status"] = Retirement Type

SyntaxError: invalid syntax (2078762665.py, line 4)

In [147]:
df1

,Greyhound Name,Earmark,Microchip,Reg Date,Sex,Whelp Date,Retirement Type,OccuredAt,Status
0,JEWEL MAIDEN,PLPIQ,9.722740e+14,29/09/2015,B,22/09/2014,DIE,21/10/2021 11:11,REG
1,JEWEL MAIDEN,PLPIQ,9.722740e+14,29/09/2015,B,22/09/2014,DIE,21/10/2021 11:12,RAC
2,JEWEL MAIDEN,PLPIQ,9.722740e+14,29/09/2015,B,22/09/2014,DIE,21/10/2021 11:14,RAC
3,JEWEL MAIDEN,PLPIQ,9.722740e+14,29/09/2015,B,22/09/2014,DIE,21/10/2021 11:16,RAC
4,JEWEL MAIDEN,PLPIQ,9.722740e+14,29/09/2015,B,22/09/2014,DIE,21/10/2021 13:08,RAC
...,...,...,...,...,...,...,...,...,...
234542,NaN,YDUZE,9.770000e+14,02/09/2022,D,02/09/2022,EUT,23/12/2022 06:33,REG
234543,NaN,YDUZE,9.770000e+14,02/09/2022,D,02/09/2022,EUT,08/01/2023 14:42,RAC
234544,NaN,YDUZE,9.770000e+14,02/09/2022,D,02/09/2022,EUT,21/02/2023 09:58,RAC
234545,NaN,YDUZE,9.770000e+14,02/09/2022,D,02/09/2022,EUT,20/05/2023 09:49,RAC
234546,NaN,YDUZE,9.770000e+14,02/09/2022,D,02/09/2022,EUT,20/05/2023 10:49,RAC

In [153]:
#df1.to_csv('Combined2_DateFrames.csv',encoding='utf-8')
# Convert 'OccurredAt' column to datetime
df["OccuredAt"] = pd.to_datetime(df["OccuredAt"])

In [161]:
# Group by 'Earmark' and find the last date in each group
grouped1 = df1.groupby("Earmark")["OccuredAt"].agg('last')

In [158]:
# Update the 'Status' column for the last rows in each group
for index, last_date in grouped1.iteritems():
    last_entry_index = df1[(df1["Earmark"] == index) & (df1["OccuredAt"] == last_date)].index[0]
    retirement_type = df1.at[last_entry_index, "Retirement Type"]
    df1.at[last_entry_index, "Status"] = retirement_type

C:\Users\Daniel Maher\AppData\Local\Temp\ipykernel_11476\4069445755.py:2: FutureWarning: iteritems is deprecated and will be removed in a future version. Use .items instead.
  for index, last_date in grouped1.iteritems():

IndexError: index 0 is out of bounds for axis 0 with size 0

In [163]:
# Find the rows where 'OccurredAt' matches the last date in the group
last_date_rows = df1["OccuredAt"] == grouped

C:\Users\Daniel Maher\AppData\Local\Temp\ipykernel_11476\2076184693.py:2: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  last_date_rows = df1["OccuredAt"] == grouped

MemoryError: Unable to allocate 32.1 GiB for an array with shape (234547, 18384) and data type float64