In [1]:
import pandas as pd
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [2]:
df = pd.read_csv('output.csv', low_memory=False)

In [3]:
df

,Greyhound Name,Earmark,Microchip,Reg Date,Sex,Whelp Date,Retirement Type,OccuredAt,Status
0,COOLEMORE COUNT,YVRYL,9.772000e+14,12/02/2022,B,12/02/2022,EUT,07/12/2023 14:41,EUT
1,SPOOK MAGOO,UNBET,9.722740e+14,10/10/2018,D,21/04/2019,EUT,07/12/2023 12:24,EUT
2,PECKIES DAFFY,VYRAJ,9.722740e+14,07/05/2021,B,26/03/2020,EUT,07/12/2023 11:34,EUT
3,SPOOK MAGOO,UNBET,9.722740e+14,10/10/2018,D,21/04/2019,RET,07/12/2023 11:24,RAC
4,SHELONE KING,UUKTL,9.722740e+14,15/04/2019,D,15/04/2019,EUT,07/12/2023 10:25,EUT
...,...,...,...,...,...,...,...,...,...
233750,KNOCKGLASS KING,VPISU,9.772000e+14,01/04/2021,D,18/03/2020,EUT,NaN,EUT
233751,HELLO HOLLIE,TDVXR,9.722740e+14,23/04/2021,B,04/08/2018,EUT,NaN,EUT
233752,SEOMRA DISC,UYIKE,9.722740e+14,04/05/2021,D,12/12/2019,EUT,NaN,EUT
233753,KILWEST NOAH,VVTMH,9.772000e+14,24/11/2021,D,20/09/2020,EUT,NaN,EUT
233754,CHEEKY CHAR,ZYH2,NaN,18/01/2022,D,18/08/2020,EUT,NaN,EUT

In [4]:
# Drop rows with NaN values
df = df.dropna()

In [5]:
# Convert date columns to datetime format
df["Whelp Date"] = pd.to_datetime(df["Whelp Date"])
df["OccuredAt"] = pd.to_datetime(df["OccuredAt"])

C:\Users\danma\AppData\Local\Temp\ipykernel_15280\371761573.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df["Whelp Date"] = pd.to_datetime(df["Whelp Date"])
C:\Users\danma\AppData\Local\Temp\ipykernel_15280\371761573.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Whelp Date"] = pd.to_datetime(df["Whelp Date"])
C:\Users\danma\AppData\Local\Temp\ipykernel_15280\371761573.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["OccuredAt"] = pd.to_datetime(df["OccuredAt"])

In [6]:
# Calculate Career Length and classify into categories
df["Career Length"] = (df["OccuredAt"] - df["Whelp Date"]).dt.days

C:\Users\danma\AppData\Local\Temp\ipykernel_15280\632837499.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Career Length"] = (df["OccuredAt"] - df["Whelp Date"]).dt.days

In [7]:
df

,Greyhound Name,Earmark,Microchip,Reg Date,Sex,Whelp Date,Retirement Type,OccuredAt,Status,Career Length
0,COOLEMORE COUNT,YVRYL,9.772000e+14,12/02/2022,B,2022-12-02,EUT,2023-07-12 14:41:00,EUT,222
1,SPOOK MAGOO,UNBET,9.722740e+14,10/10/2018,D,2019-04-21,EUT,2023-07-12 12:24:00,EUT,1543
2,PECKIES DAFFY,VYRAJ,9.722740e+14,07/05/2021,B,2020-03-26,EUT,2023-07-12 11:34:00,EUT,1203
3,SPOOK MAGOO,UNBET,9.722740e+14,10/10/2018,D,2019-04-21,RET,2023-07-12 11:24:00,RAC,1543
4,SHELONE KING,UUKTL,9.722740e+14,15/04/2019,D,2019-04-15,EUT,2023-07-12 10:25:00,EUT,1549
...,...,...,...,...,...,...,...,...,...,...
229956,KIWI SANDY,UTRBS,9.722740e+14,12/09/2019,B,2019-10-26,EUT,2021-10-01 06:01:00,EUT,706
229957,COUGARS HERO,USQIE,9.722740e+14,18/02/2020,D,2019-01-10,EUT,2021-10-01 06:01:00,EUT,995
229958,CLASSIC SYLVIA,UBDZZ,9.722740e+14,15/04/2021,B,2019-03-10,DIE,2021-10-01 06:01:00,REG,936
229959,VIEW HERMOINE,UPVXM,9.722740e+14,04/10/2019,B,2019-12-06,EUT,2021-10-01 06:01:00,EUT,665
229960,DARBYS STORM,THSYE,9.722740e+14,17/10/2018,D,2018-07-14,EUT,2021-10-01 06:01:00,EUT,1175

In [8]:
from lazypredict.Supervised import LazyRegressor
from sklearn.model_selection import train_test_split
from sklearn.utils import shuffle
import numpy as np

In [9]:
import pandas as pd
# let's say you want to predict "Career Length"
X = df.drop(["Career Length", "OccuredAt"], axis=1)
y = df["Career Length"]

In [10]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

In [ ]:
# Initialize and fit the LazyRegressor
reg = LazyRegressor(verbose=0)
models,predictions = reg.fit(X_train, X_test, y_train, y_test)

# Display the model performance
models

 62%|██████▏   | 26/42 [08:47<20:34, 77.18s/it]

In [ ]:
predictions

## Neural Network

In [26]:
from keras.models import Sequential
from keras.layers import Dense

In [27]:
# Create example data (replace with your actual data)
X_train = np.random.rand(100, 10)  # 100 samples, 10 features
y_train = np.random.randint(2, size=100)  # Binary classification labels (0 or 1)

# Convert data types if necessary
X_train = X_train.astype(np.float32)
y_train = y_train.astype(np.float32)

In [ ]:
df

In [33]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense

# Load your dataset here (replace this with your data loading code)
# df = pd.read_csv('your_dataset.csv')

# Preprocess your data (convert date columns, handle missing values, one-hot encode categorical variables)
# ...

# Create features and target variables
X = df.drop(["Status"], axis=1)  # Features
y = df["Status"]  # Target

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Build the neural network
model = Sequential()
model.add(Dense(128, input_dim=X_train.shape[1], activation='relu'))
model.add(Dense(64, activation='relu'))
model.add(Dense(1, activation='sigmoid'))  # Sigmoid for binary classification

# Compile the model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# Train the model
model.fit(X_train, y_train, epochs=10, batch_size=32, validation_data=(X_test, y_test))

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type float).

In [30]:
# Define the neural network architecture
model = Sequential()
model.add(Dense(128, input_dim=X_train.shape[1], activation='relu'))
model.add(Dense(64, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [31]:
# Compile the model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])  # Change loss for multi-class classification

# Train the model
model.fit(X_train, y_train, epochs=10, batch_size=32, validation_data=(X_test, y_test))

Epoch 1/10
1/4 [======>.......................] - ETA: 3s - loss: 0.6965 - accuracy: 0.5000

ValueError: Failed to convert a NumPy array to a Tensor (Unsupported object type float).