In [133]:
import pandas as pd

In [134]:
df = pd.read_csv('output.csv', low_memory=False)

In [135]:
df

,Greyhound Name,Earmark,Microchip,Reg Date,Sex,Whelp Date,Retirement Type,OccuredAt,Status
0,COOLEMORE COUNT,YVRYL,9.772000e+14,12/02/2022,B,12/02/2022,EUT,07/12/2023 14:41,EUT
1,SPOOK MAGOO,UNBET,9.722740e+14,10/10/2018,D,21/04/2019,EUT,07/12/2023 12:24,EUT
2,PECKIES DAFFY,VYRAJ,9.722740e+14,07/05/2021,B,26/03/2020,EUT,07/12/2023 11:34,EUT
3,SPOOK MAGOO,UNBET,9.722740e+14,10/10/2018,D,21/04/2019,RET,07/12/2023 11:24,RAC
4,SHELONE KING,UUKTL,9.722740e+14,15/04/2019,D,15/04/2019,EUT,07/12/2023 10:25,EUT
...,...,...,...,...,...,...,...,...,...
233750,KNOCKGLASS KING,VPISU,9.772000e+14,01/04/2021,D,18/03/2020,EUT,NaN,EUT
233751,HELLO HOLLIE,TDVXR,9.722740e+14,23/04/2021,B,04/08/2018,EUT,NaN,EUT
233752,SEOMRA DISC,UYIKE,9.722740e+14,04/05/2021,D,12/12/2019,EUT,NaN,EUT
233753,KILWEST NOAH,VVTMH,9.772000e+14,24/11/2021,D,20/09/2020,EUT,NaN,EUT
233754,CHEEKY CHAR,ZYH2,NaN,18/01/2022,D,18/08/2020,EUT,NaN,EUT

In [136]:
# Remove two columns name is 'C' and 'D'
df = df.drop(['Microchip','Earmark','Reg Date','Retirement Type'], axis=1)

In [137]:
df

         Greyhound Name Sex  Whelp Date         OccuredAt Status
0       COOLEMORE COUNT   B  12/02/2022  07/12/2023 14:41    EUT
1           SPOOK MAGOO   D  21/04/2019  07/12/2023 12:24    EUT
2         PECKIES DAFFY   B  26/03/2020  07/12/2023 11:34    EUT
3           SPOOK MAGOO   D  21/04/2019  07/12/2023 11:24    RAC
4          SHELONE KING   D  15/04/2019  07/12/2023 10:25    EUT
...                 ...  ..         ...               ...    ...
233750  KNOCKGLASS KING   D  18/03/2020               NaN    EUT
233751     HELLO HOLLIE   B  04/08/2018               NaN    EUT
233752      SEOMRA DISC   D  12/12/2019               NaN    EUT
233753     KILWEST NOAH   D  20/09/2020               NaN    EUT
233754      CHEEKY CHAR   D  18/08/2020               NaN    EUT

[233755 rows x 5 columns]

In [138]:
# Convert date columns to datetime format
df["Whelp Date"] = pd.to_datetime(df["Whelp Date"])
df["OccuredAt"] = pd.to_datetime(df["OccuredAt"])

C:\Users\danma\AppData\Local\Temp\ipykernel_664\371761573.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df["Whelp Date"] = pd.to_datetime(df["Whelp Date"])

In [139]:
# Calculate Career Length
df["Career Length"] = (df["OccuredAt"] - df["Whelp Date"]).dt.days

In [140]:
df

,Greyhound Name,Sex,Whelp Date,OccuredAt,Status,Career Length
0,COOLEMORE COUNT,B,2022-12-02,2023-07-12 14:41:00,EUT,222.0
1,SPOOK MAGOO,D,2019-04-21,2023-07-12 12:24:00,EUT,1543.0
2,PECKIES DAFFY,B,2020-03-26,2023-07-12 11:34:00,EUT,1203.0
3,SPOOK MAGOO,D,2019-04-21,2023-07-12 11:24:00,RAC,1543.0
4,SHELONE KING,D,2019-04-15,2023-07-12 10:25:00,EUT,1549.0
...,...,...,...,...,...,...
233750,KNOCKGLASS KING,D,2020-03-18,NaT,EUT,NaN
233751,HELLO HOLLIE,B,2018-04-08,NaT,EUT,NaN
233752,SEOMRA DISC,D,2019-12-12,NaT,EUT,NaN
233753,KILWEST NOAH,D,2020-09-20,NaT,EUT,NaN
233754,CHEEKY CHAR,D,2020-08-18,NaT,EUT,NaN

In [141]:
df = df.dropna(subset=["OccuredAt"])

In [142]:
df = df.dropna(subset=["Career Length"])

In [143]:
df

,Greyhound Name,Sex,Whelp Date,OccuredAt,Status,Career Length
0,COOLEMORE COUNT,B,2022-12-02,2023-07-12 14:41:00,EUT,222.0
1,SPOOK MAGOO,D,2019-04-21,2023-07-12 12:24:00,EUT,1543.0
2,PECKIES DAFFY,B,2020-03-26,2023-07-12 11:34:00,EUT,1203.0
3,SPOOK MAGOO,D,2019-04-21,2023-07-12 11:24:00,RAC,1543.0
4,SHELONE KING,D,2019-04-15,2023-07-12 10:25:00,EUT,1549.0
...,...,...,...,...,...,...
229956,KIWI SANDY,B,2019-10-26,2021-10-01 06:01:00,EUT,706.0
229957,COUGARS HERO,D,2019-01-10,2021-10-01 06:01:00,EUT,995.0
229958,CLASSIC SYLVIA,B,2019-03-10,2021-10-01 06:01:00,REG,936.0
229959,VIEW HERMOINE,B,2019-12-06,2021-10-01 06:01:00,EUT,665.0
229960,DARBYS STORM,D,2018-07-14,2021-10-01 06:01:00,EUT,1175.0

In [144]:
# Convert categorical variables using one-hot encoding
df_encoded  = pd.get_dummies(df, columns=["Sex", "Status"])

In [145]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [146]:
# Split the data into training and testing sets
X = df_encoded.drop(["Greyhound Name", "Whelp Date","Career Length", "OccuredAt"], axis=1)
y = df_encoded["Career Length"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Train a Linear Regression model

In [147]:
X

        Sex_B  Sex_D  Status_DIE  Status_EUT  Status_RAC  Status_REG
0           1      0           0           1           0           0
1           0      1           0           1           0           0
2           1      0           0           1           0           0
3           0      1           0           0           1           0
4           0      1           0           1           0           0
...       ...    ...         ...         ...         ...         ...
229956      1      0           0           1           0           0
229957      0      1           0           1           0           0
229958      1      0           0           0           0           1
229959      1      0           0           1           0           0
229960      0      1           0           1           0           0

[229875 rows x 6 columns]

In [148]:
# Train a Linear Regression model
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [153]:
# Train a Random Forest Regression model
from sklearn.ensemble import RandomForestRegressor
model1 = RandomForestRegressor(n_estimators=100, random_state=42)
model1.fit(X_train, y_train)

RandomForestRegressor(random_state=42)

In [149]:
# Make predictions on the test set
predictions = model.predict(X_test)

In [150]:
# Evaluate the model
mse = mean_squared_error(y_test, predictions)

In [154]:
print("LinearRegressor Mean Squared Error:", mse)

LinearRegressor Mean Squared Error: 158650.1353171453

In [155]:
# Make predictions on the test set
predictions1 = model1.predict(X_test)

In [156]:
# Evaluate the model
mse1 = mean_squared_error(y_test, predictions1)

In [157]:
print("Random Forest Mean Squared Error:", mse1)

Random Forest Mean Squared Error: 158650.4826508139

In [158]:
from sklearn.ensemble import GradientBoostingRegressor

In [159]:
# Train a Gradient Boosting Regression model
model2 = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, random_state=42)
model2.fit(X_train, y_train)

GradientBoostingRegressor(random_state=42)

In [161]:
# Make predictions on the test set
predictions2 = model2.predict(X_test)

In [162]:
# Evaluate the model
mse = mean_squared_error(y_test, predictions2)
print("Mean Squared Error:", mse)

Mean Squared Error: 158651.81528049172

In [11]:
from statsmodels.tsa.arima.model import ARIMA
from datetime import datetime

In [23]:
# Set OccurredAt as the index
#df.set_index("OccuredAt", inplace=True)

In [26]:
# Select status column for analysis
status_series = df[["OccuredAt","Status"]]

In [27]:
status_series

                 OccuredAt Status
0      2023-12-07 14:41:00    EUT
1      2023-12-07 12:24:00    EUT
2      2023-12-07 11:34:00    EUT
3      2023-12-07 11:24:00    RAC
4      2023-12-07 10:25:00    EUT
...                    ...    ...
233750                 NaT    EUT
233751                 NaT    EUT
233752                 NaT    EUT
233753                 NaT    EUT
233754                 NaT    EUT

[233755 rows x 2 columns]

In [29]:
status_series1 = status_series.dropna(subset=["OccuredAt"])

In [36]:
# Set "OccurredAt" as the index
#status_series1.set_index("OccuredAt", inplace=True)

In [37]:
#import numpy as np
#data = np.asarray(status_series1)