Follow these steps:

Open Anaconda Prompt
Insert this command, jupyter notebook --notebook-dir=NameOfTheDrive:.
As Example for Drive D, 

jupyter notebook --notebook-dir=E:

In [107]:
import pandas as pd

In [108]:
pwd

'E:\\Capstone\\capstone2023'

In [161]:
df = pd.read_csv('AllGreyhounds.csv')

In [162]:
df.isna().sum()

Greyhound Name           11841
Earmark                      0
Reg Date                     0
Active                       0
Colour                      17
Sex                          0
Whelp Date                  26
Retirement Type          26532
Retirement Created At    26898
Ret Description          28848
Status Created At         8668
Status Meaning            8668
ICC VolReg               18178
Microchip                 8548
dtype: int64

In [163]:
cols = ['Greyhound Name', 'ICC VolReg', 'Microchip']
df = df.drop(cols, axis=1)

In [164]:
df.rename(columns = {'Active?':'Active'}, inplace = True)

In [165]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsClassifier

In [166]:
# Separate data with missing and non-missing values
df_train = df[df['Retirement Type'].notnull()]

In [167]:
df_train

,Earmark,Reg Date,Active,Colour,Sex,Whelp Date,Retirement Type,Retirement Created At,Ret Description,Status Created At,Status Meaning
1,QDXXI,28/01/2016,False,bk,D,02/01/2015,NEW,01:43.5,To be re-homed,00:29.5,Transfer is complete
2,QLZRE,22/03/2016,False,be,D,18/12/2014,RET,47:10.1,As a pet,18:10.5,Licence Unsuspended
4,QPBAV,18/04/2016,False,fw,D,04/09/2015,NEW,02:18.9,To be re-homed,02:31.4,ICC Record edit
6,QHRZH,27/06/2016,False,bk,D,01/05/2015,RET,42:36.2,As a pet,01:06.0,Licence Unsuspended
7,RQVUY,14/07/2016,False,wbk,B,24/09/2015,DIE,52:28.8,Natural causes,52:28.8,Died/Put To Sleep
...,...,...,...,...,...,...,...,...,...,...,...
45773,SBEVK,07/07/2023,False,bk,D,16/06/2017,DIE,59:32.6,Natural causes,59:32.6,Died/Put To Sleep
45838,YRVXE2,11/03/2022,False,bk,D,11/03/2022,NEW,36:26.2,To be re-homed,NaN,NaN
45839,AMR6,05/02/2022,False,bk,B,05/02/2022,NEW,36:28.7,To be re-homed,NaN,NaN
45840,AMR2X,05/02/2022,False,bk,B,05/02/2022,NEW,36:29.0,To be re-homed,NaN,NaN
45841,AMR4,05/02/2022,True,bk,B,05/02/2022,NEW,36:29.5,To be re-homed,30:28.9,Out of Retirement

In [168]:
df_predict = df[df['Retirement Type'].isnull()]

In [169]:
df_predict

,Earmark,Reg Date,Active,Colour,Sex,Whelp Date,Retirement Type,Retirement Created At,Ret Description,Status Created At,Status Meaning
0,QDBAJ,29/09/2015,True,bd,B,05/04/2015,NaN,NaN,NaN,47:41.6,Licence Unsuspended
3,QSQMK,12/04/2016,True,bdw,B,26/03/2015,NaN,NaN,NaN,32:22.4,Identified for Racing
5,QYREL,23/05/2016,True,bew,B,18/06/2015,NaN,NaN,NaN,46:39.3,Licence Unsuspended
11,QYRJJ,22/08/2016,True,be,B,14/08/2015,NaN,NaN,NaN,33:15.2,Licence Unsuspended
31,RYBJH,23/03/2017,True,bk,D,22/03/2016,NaN,NaN,NaN,14:19.3,Licence Unsuspended
...,...,...,...,...,...,...,...,...,...,...,...
46150,ZYHJP,02/05/2023,True,bk,D,02/05/2023,NaN,NaN,NaN,NaN,NaN
46151,ZYTEB,02/05/2023,True,bkw,D,02/05/2023,NaN,NaN,NaN,NaN,NaN
46152,ZYKRR,03/05/2023,True,be,B,03/05/2023,NaN,NaN,NaN,NaN,NaN
46153,ZYHKP,03/05/2023,True,be,B,03/05/2023,NaN,NaN,NaN,NaN,NaN
46154,ZPVYP,12/04/2023,True,f,D,12/04/2023,NaN,NaN,NaN,35:49.1,Transfer is complete

In [170]:
# Encode the categories into numerical labels
label_encoder = LabelEncoder()
df_train['encoded_category'] = label_encoder.fit_transform(df_train['Retirement Type'])

C:\Users\Daniel\AppData\Local\Temp\ipykernel_37056\2745399203.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train['encoded_category'] = label_encoder.fit_transform(df_train['Retirement Type'])

In [171]:
df_train

,Earmark,Reg Date,Active,Colour,Sex,Whelp Date,Retirement Type,Retirement Created At,Ret Description,Status Created At,Status Meaning,encoded_category
1,QDXXI,28/01/2016,False,bk,D,02/01/2015,NEW,01:43.5,To be re-homed,00:29.5,Transfer is complete,2
2,QLZRE,22/03/2016,False,be,D,18/12/2014,RET,47:10.1,As a pet,18:10.5,Licence Unsuspended,3
4,QPBAV,18/04/2016,False,fw,D,04/09/2015,NEW,02:18.9,To be re-homed,02:31.4,ICC Record edit,2
6,QHRZH,27/06/2016,False,bk,D,01/05/2015,RET,42:36.2,As a pet,01:06.0,Licence Unsuspended,3
7,RQVUY,14/07/2016,False,wbk,B,24/09/2015,DIE,52:28.8,Natural causes,52:28.8,Died/Put To Sleep,0
...,...,...,...,...,...,...,...,...,...,...,...,...
45773,SBEVK,07/07/2023,False,bk,D,16/06/2017,DIE,59:32.6,Natural causes,59:32.6,Died/Put To Sleep,0
45838,YRVXE2,11/03/2022,False,bk,D,11/03/2022,NEW,36:26.2,To be re-homed,NaN,NaN,2
45839,AMR6,05/02/2022,False,bk,B,05/02/2022,NEW,36:28.7,To be re-homed,NaN,NaN,2
45840,AMR2X,05/02/2022,False,bk,B,05/02/2022,NEW,36:29.0,To be re-homed,NaN,NaN,2
45841,AMR4,05/02/2022,True,bk,B,05/02/2022,NEW,36:29.5,To be re-homed,30:28.9,Out of Retirement,2

In [174]:
df_train

,Earmark,Reg Date,Active,Colour,Sex,Whelp Date,Retirement Type,Retirement Created At,Ret Description,Status Created At,Status Meaning,encoded_category
1,QDXXI,28/01/2016,False,bk,D,02/01/2015,NEW,01:43.5,To be re-homed,00:29.5,Transfer is complete,2
2,QLZRE,22/03/2016,False,be,D,18/12/2014,RET,47:10.1,As a pet,18:10.5,Licence Unsuspended,3
4,QPBAV,18/04/2016,False,fw,D,04/09/2015,NEW,02:18.9,To be re-homed,02:31.4,ICC Record edit,2
6,QHRZH,27/06/2016,False,bk,D,01/05/2015,RET,42:36.2,As a pet,01:06.0,Licence Unsuspended,3
7,RQVUY,14/07/2016,False,wbk,B,24/09/2015,DIE,52:28.8,Natural causes,52:28.8,Died/Put To Sleep,0
...,...,...,...,...,...,...,...,...,...,...,...,...
45773,SBEVK,07/07/2023,False,bk,D,16/06/2017,DIE,59:32.6,Natural causes,59:32.6,Died/Put To Sleep,0
45838,YRVXE2,11/03/2022,False,bk,D,11/03/2022,NEW,36:26.2,To be re-homed,NaN,NaN,2
45839,AMR6,05/02/2022,False,bk,B,05/02/2022,NEW,36:28.7,To be re-homed,NaN,NaN,2
45840,AMR2X,05/02/2022,False,bk,B,05/02/2022,NEW,36:29.0,To be re-homed,NaN,NaN,2
45841,AMR4,05/02/2022,True,bk,B,05/02/2022,NEW,36:29.5,To be re-homed,30:28.9,Out of Retirement,2

In [198]:

# Split the training data into features (X) and target (y)
#X_train = df_train[['Retirement Type','encoded_category']]
X_train = df_train.iloc[:, [6, 11]]
#y_train = df_train['encoded_category']

In [199]:
X_train

      Retirement Type  encoded_category
1                 NEW                 2
2                 RET                 3
4                 NEW                 2
6                 RET                 3
7                 DIE                 0
...               ...               ...
45773             DIE                 0
45838             NEW                 2
45839             NEW                 2
45840             NEW                 2
45841             NEW                 2

[19623 rows x 2 columns]

In [200]:
y_train = df_train['encoded_category']

In [201]:
y_train

1        2
2        3
4        2
6        3
7        0
        ..
45773    0
45838    2
45839    2
45840    2
45841    2
Name: encoded_category, Length: 19623, dtype: int32

In [202]:
# Create and train a K-Nearest Neighbors classifier
k = 3  # Choose the number of neighbors
classifier = KNeighborsClassifier(n_neighbors=k)
classifier.fit(X_train, y_train)

ValueError: could not convert string to float: 'NEW'

In [204]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsClassifier

# Load your dataset (replace 'data.csv' with your file path)
data = pd.read_csv('AllGreyhounds.csv')

# Select columns with categorical data
categorical_columns = data['Retirement Type']  # Replace with your categorical column names

# Perform one-hot encoding for categorical columns
data_encoded = pd.get_dummies(data, columns=categorical_columns)

# Separate data with missing and non-missing values
data_train = data_encoded[data_encoded['Retirement Type'].notnull()]
data_predict = data_encoded[data_encoded['Retirement Type'].isnull()]

# Split the training data into features (X) and target (y)
X_train = data_train.drop(categorical_columns, axis=1)
y_train = data_train['Retirement Type']

# Create and train a K-Nearest Neighbors classifier
k = 3  # Choose the number of neighbors
classifier = KNeighborsClassifier(n_neighbors=k)
classifier.fit(X_train, y_train)

# Predict missing values
X_predict = data_predict.drop(categorical_columns, axis=1)
predicted_categories = classifier.predict(X_predict)

# Fill missing values in the original dataset
data.loc[data['Retirement Type'].isnull(), 'Retirement Type'] = predicted_categories

# Now 'category' should have missing values filled with predictions

KeyError: "None of [Index([  nan, 'NEW', 'RET',   nan, 'NEW',   nan, 'RET', 'DIE', 'NEW', 'NEW',\n       ...\n         nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan,   nan],\n      dtype='object', length=46155)] are in the [columns]"

In [205]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsClassifier

# Load your dataset (replace 'data.csv' with your file path)
data = pd.read_csv('AllGreyhounds.csv')

# Select columns with categorical data
categorical_column = 'Retirement Type'  # Replace with your categorical column name

# Replace NaN values with a placeholder value (e.g., 'UNKNOWN')
data[categorical_column].fillna('UNKNOWN', inplace=True)

# Perform one-hot encoding for categorical columns
data_encoded = pd.get_dummies(data, columns=[categorical_column])

# Separate data with missing and non-missing values
data_train = data_encoded[data_encoded[categorical_column].ne('UNKNOWN')]
data_predict = data_encoded[data_encoded[categorical_column].eq('UNKNOWN')]

# Split the training data into features (X) and target (y)
X_train = data_train.drop(categorical_columns, axis=1)
y_train = data_train[categorical_columns]

# Create and train a K-Nearest Neighbors classifier
k = 3  # Choose the number of neighbors
classifier = KNeighborsClassifier(n_neighbors=k)
classifier.fit(X_train, y_train)

# Predict missing values
X_predict = data_predict.drop(categorical_columns, axis=1)
predicted_categories = classifier.predict(X_predict)

# Fill missing values in the original dataset
data.loc[data[categorical_column].eq('UNKNOWN'), categorical_column] = predicted_categories

# Now 'category' should have missing values filled with predictions

KeyError: 'Retirement Type'